node_modules
.changeset
.git
.github
.env
.env.*
*.env
*secret*
*secrets*
*api-key*
*api-keys*
*token*
input/
output/
temp/
ComfyUI/input/
ComfyUI/output/
ComfyUI/temp/
*.mp3
*.wav
*.flac
*.mp4
*.webm
*.mov
*.mkv
